# {{ ansible_managed }}

{% for key, value in __rclone_sysconfig | dictsort %}
{%   if value is sameas true %}
{{ key | upper }}=true
{%   elif value is sameas false %}
{{ key | upper }}=false
{%   elif value is string %}
{{ key | upper }}={{ value | string }}
{%   elif value is number %}
{{ key | upper }}={{ value | int }}
{%   else %}
{{ key | upper }}={{ value }}
{%   endif %}
{% endfor %}
