# {{ ansible_managed }}

{% for key, value in __rclone_profile | dictsort %}
{%   if value is sameas true %}
export {{ key | upper }}=true
{%   elif value is sameas false %}
export {{ key | upper }}=false
{%   elif value is string %}
export {{ key | upper }}={{ value | string }}
{%   elif value is number %}
export {{ key | upper }}={{ value | int }}
{%   else %}
export {{ key | upper }}={{ value }}
{%   endif %}
{% endfor %}
