---
dependency:
  name: galaxy
  options:
    requirements-file: ../../requirements.yml

driver:
  name: vagrant

platforms:
  - name: almalinux9
    box: bento/almalinux-9.6
    box_architecture: amd64
    cpus: 4
    memory: 4096

  - name: debian12
    box: bento/debian-12.12
    box_architecture: amd64
    cpus: 4
    memory: 4096

provisioner:
  name: ansible
  log: true
  options:
    diff: true
  inventory:
    group_vars:
      all:
        directory_list:
          - group: root
            mode: '0700'
            owner: root
            paths:
              - /dev/shm/root
          - group: vagrant
            mode: '0644'
            owner: vagrant
            paths:
              - /dev/shm/vagrant

verifier:
  name: ansible
  options:
    diff: true
...
