# {{ ansible_managed }}
#
# Use 'systemd-analyze cat-config systemd/journald.conf' to display the full config.
#
# See journald.conf(5) for details.

[Journal]
{% for key, value in systemd_journald | dictsort %}
{%   if value is not defined %}
{{ key }}=
{%   elif value is sameas true %}
{{ key }}=yes
{%   elif value is sameas false %}
{{ key }}=no
{%   elif value is string %}
{{ key }}={{ value | string }}
{%   elif value is number %}
{{ key }}={{ value | int }}
{%   elif value is iterable %}
{{ key }}={{ value | join(' ') }}
{%   else %}
{{ key }}={{ value }}
{%   endif %}
{% endfor %}
