---
dependency:
  name: galaxy
  options:
    requirements-file: ../../requirements.yml

driver:
  name: vagrant

platforms:
  - name: almalinux9
    box: bento/almalinux-9
    cpus: 4
    memory: 4096

  - name: debian12
    box: bento/debian-12
    cpus: 4
    memory: 4096

provisioner:
  name: ansible
  log: true
  options:
    diff: true
  inventory:
    group_vars:
      all:
        permission_list:
          - path: /usr/bin/su
            mode: '0755'

verifier:
  name: ansible
  options:
    diff: true
...
