---
dependency:
  name: galaxy
  options:
    requirements-file: ../../requirements.yml

driver:
  name: vagrant

platforms:
  - name: almalinux9
    box: bento/almalinux-9.6
    box_architecture: arm64
    cpus: 4
    memory: 4096

  - name: debian12
    box: bento/debian-12.12
    box_architecture: arm64
    cpus: 4
    memory: 4096

provisioner:
  name: ansible
  log: true
  options:
    diff: true
  inventory:
    group_vars:
      all:
        virtualenv_become: true
        virtualenv_list:
          - virtualenv: /opt/ansible
            virtualenv_command: /usr/bin/python3 -m venv
            name:
              - 'ansible>8,<9'
            extra_args: '--no-cache-dir'

verifier:
  name: ansible
  options:
    diff: true
...
