---
- name: Ensure rclone config facts are generated
  tags:
    - rclone
  ansible.builtin.set_fact:
    __rclone_profile:
      "{{ rclone_profile |
          combine({
            'rclone_config': rclone_config_path
          }) }}"
    __rclone_sysconfig:
      "{{ rclone_sysconfig |
          combine({
            'rclone_config': rclone_config_path
          }) }}"

- name: Ensure rclone config pass facts are generated
  tags:
    - rclone
  ansible.builtin.set_fact:
    __rclone_sysconfig:
      "{{ __rclone_sysconfig |
          combine({
            'rclone_config_pass': rclone_config_pass
          }) }}"
  when:
    - rclone_config_pass is not none
    - rclone_mounts | length > 0

- name: Ensure rclone packages are present
  tags:
    - rclone
  become: true
  ansible.builtin.dnf:
    name:
      - fuse3
      - fuse3-libs
      - rclone
    state: present
    validate_certs: true

- name: Ensure rclone configuration path is present
  tags:
    - rclone
  become: true
  ansible.builtin.file:
    group: root
    mode: '0700'
    owner: root
    path: "{{ rclone_config_path | dirname }}"
    state: directory

- name: Ensure rclone encryption configuration is checked
  tags:
    - rclone
  become: true
  ansible.builtin.command:
    cmd: >
      rclone config encryption check
        --config {{ rclone_config_path }}
        --password-command '/bin/echo {{ rclone_config_pass }}'
  register: __rclone_encryption_check
  changed_when: false
  failed_when: false
  when:
    - rclone_config | length > 0
    - rclone_config_pass is not none

- name: Ensure rclone encryption configuration is removed
  tags:
    - rclone
  become: true
  ansible.builtin.command:
    cmd: >
      rclone config encryption remove
        --config {{ rclone_config_path }}
        --password-command '/bin/echo {{ rclone_config_pass }}'
  changed_when: false
  when:
    - rclone_config | length > 0
    - rclone_config_pass is not none
    - __rclone_encryption_check.rc == 0

- name: Ensure rclone configuration file is managed
  tags:
    - rclone
  become: true
  no_log: "{{ rclone_no_log }}"
  ansible.builtin.template:
    group: root
    dest: "{{ rclone_config_path }}"
    mode: '0600'
    owner: root
    src: rclone.conf.j2

- name: Ensure rclone encryption configuration is set
  tags:
    - rclone
  become: true
  ansible.builtin.command:
    cmd: >
      rclone config encryption set
        --config {{ rclone_config_path }}
        --password-command '/bin/echo {{ rclone_config_pass }}'
  changed_when: false
  when:
    - rclone_config | length > 0
    - rclone_config_pass is not none

- name: Ensure rclone profile configuration is managed
  tags:
    - rclone
  become: true
  ansible.builtin.template:
    group: root
    dest: /etc/profile.d/rclone.sh
    mode: '0644'
    owner: root
    src: rclone.profile.j2

- name: Ensure rclone sysconfig configuration is managed
  tags:
    - rclone
  become: true
  ansible.builtin.template:
    group: root
    dest: /etc/sysconfig/rclone
    mode: '0600'
    owner: root
    src: rclone.sysconfig.j2

- name: Ensure rclone systemd unit is managed
  tags:
    - rclone
  become: true
  ansible.builtin.template:
    group: root
    dest: /usr/lib/systemd/system/{{ _mount.name }}.service
    mode: '0644'
    owner: root
    src: rclone.systemd.j2
  loop: "{{ rclone_mounts }}"
  loop_control:
    label: "{{ _mount.name | d(none) }}"
    loop_var: _mount
  when:
    - _mount.name is defined
    - _mount.mountpoint is defined
    - _mount.remote is defined

- name: Ensure rclone systemd unit is reloaded
  tags:
    - rclone
  become: true
  ansible.builtin.systemd_service:
    daemon_reload: true
  when:
    - rclone_mounts | length > 0

- name: Ensure rclone systemd units are started and enabled on boot
  tags:
    - rclone
  become: true
  ansible.builtin.systemd_service:
    enabled: true
    name: "{{ _mount.name }}.service"
    state: started
  loop: "{{ rclone_mounts }}"
  loop_control:
    label: "{{ _mount.name | d(none) }}"
    loop_var: _mount
  when:
    - _mount.name is defined
    - _mount.mountpoint is defined
    - _mount.remote is defined
...
