# {{ ansible_managed }}

{% if dnf_versionlock_packages | length > 0 %}
{%   for package in dnf_versionlock_packages %}
{%     if package.name is defined and package.version is defined %}
{{ package.name }}-{{ package.version }}
{%     endif %}
{%   endfor %}
{% endif %}
