---
dependency:
  name: galaxy
  options:
    requirements-file: ../../requirements.yml

driver:
  name: vagrant

platforms:
  - name: almalinux9
    box: bento/almalinux-9.6
    box_architecture: amd64
    cpus: 4
    memory: 4096

  - name: debian12
    box: bento/debian-12.12
    box_architecture: amd64
    cpus: 4
    memory: 4096

provisioner:
  name: ansible
  log: true
  options:
    diff: true
  inventory:
    group_vars:
      all:
        template_list:
          - dest: /etc/ansible.devices.cfg
            group: adm
            mode: '0600'
            owner: root
            src: "{{ lookup('env', 'MOLECULE_PROJECT_DIRECTORY') }}/molecule/templates/template_devices.j2"
          - dest: /etc/ansible.env.cfg
            group: vagrant
            mode: '0644'
            owner: vagrant
            src: "{{ lookup('env', 'MOLECULE_PROJECT_DIRECTORY') }}/molecule/templates/template_env.j2"

verifier:
  name: ansible
  options:
    diff: true
...
