---
- name: Prepare
  hosts: all
  tasks:
    - name: Ensure apt cache is updated
      tags:
        - systemd_resolved
      become: true
      ansible.builtin.apt:
        update_cache: true
      when:
        - ansible_os_family == 'Debian'
...
