---
dependency:
  name: galaxy
  options:
    requirements-file: ../../requirements.yml

driver:
  name: vagrant

platforms:
  - name: almalinux9
    box: bento/almalinux-9.6
    box_architecture: arm64
    cpus: 4
    memory: 4096
    instance_raw_config_args:
      - 'vm.disk :disk, name: "mount", size: "5GB"'

  - name: debian12
    box: bento/debian-12.12
    box_architecture: arm64
    cpus: 4
    memory: 4096
    instance_raw_config_args:
      - 'vm.disk :disk, name: "mount", size: "5GB"'

provisioner:
  name: ansible
  log: true
  options:
    diff: true

verifier:
  name: ansible
  options:
    diff: true
...
