# {{ ansible_managed }}

[Unit]
Description=Cloudflare Tunnel (%i)
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
ExecStart=/usr/bin/cloudflared --config /etc/cloudflared/%i.yaml --no-autoupdate {{ cloudflared_command }}
Group={{ cloudflared_group }}
Restart=always
RestartSec=5s
TimeoutStartSec=0
User={{ cloudflared_user }}

[Install]
WantedBy=multi-user.target
