---
- name: Converge
  hosts: all
  roles:
    - role: rclone
      tags:
        - molecule-idempotence-notest

    - role: rclone
      rclone_conf:
        - name: koofr
          password: "{{ lookup('env', 'KOOFR_PASSWORD') }}"
          provider: koofr
          type: koofr
          user: "{{ lookup('env', 'KOOFR_USERNAME') }}"

        - name: koofr-crypt
          password: "{{ lookup('env', 'KOOFR_CRYPT_PASSWORD') }}"
          password2: "{{ lookup('env', 'KOOFR_CRYPT_PASSWORD2') }}"
          remote: koofr:/Encrypted
          type: crypt

      rclone_mounts:
        - name: rclone-koofr-ro
          remote: 'koofr-crypt:'
          mountpoint: /mnt/koofr
          flags:
            - --read-only

      rclone_profile:
        rclone_verbose: 1

      rclone_sysconfig:
        rclone_allow_other: true
...
