---
dependency:
  name: galaxy
  options:
    requirements-file: ../../requirements.yml

driver:
  name: vagrant

platforms:
  - name: almalinux9
    box: bento/almalinux-9.6
    box_architecture: arm64
    cpus: 4
    memory: 4096

  - name: almalinux10
    box: bento/almalinux-10.0
    box_architecture: arm64
    cpus: 4
    memory: 4096

provisioner:
  name: ansible
  log: true
  options:
    diff: true

verifier:
  name: ansible
  options:
    diff: true
...
