## {{ ansible_managed }}

{% if sudo_aliases | length > 0 %}
{%   for alias in q('ansible.builtin.subelements', sudo_aliases, 'aliases', {'skip_missing': true}) %}
{%     if alias.0.type is defined and
          alias.1.name is defined and
          alias.1.list is defined and
          alias.1.list | length > 0 %}
{{ alias.0.type | capitalize }}_Alias {{ alias.1.name | upper }} = {{ alias.1.list | join(', ') }}
{%     endif %}
{%   endfor %}

{%   endif %}
{% if sudo_defaults | length > 0 %}
{%   for default in sudo_defaults %}
{%     if default.value is sameas true %}
Defaults {{ default.key }}
{%     elif default.value is sameas false %}
Defaults !{{ default.key }}
{%     elif default.value is string %}
Defaults {{ default.key }} {{ default.operator | d('=') }} "{{ default.value | string }}"
{%     elif default.value is number %}
Defaults {{ default.key }} {{ default.operator | d('=') }} "{{ default.value | int }}"
{%     elif default.value is iterable %}
Defaults {{ default.key }} {{ default.operator | d('=') }} "{{ default.value | join(' ') }}"
{%     else %}
Defaults {{ default.key }} {{ default.operator | d('=') }} "{{ default.value }}"
{%     endif %}
{%   endfor %}
{% endif %}

root      ALL=(ALL) NOPASSWD:ALL
%wheel    ALL=(ALL) NOPASSWD:ALL

#includedir /etc/sudoers.d
