#%PAM-1.0
{% for pam in sudo_pam %}
{%   if pam.module_interface is defined and
        pam.control_flag is defined and
        pam.module_name is defined %}
{{ "{:<10} {:<12} {}".format(pam.module_interface, pam.control_flag, pam.module_name) }}{{ " {}".format(pam.module_arguments) if pam.module_arguments is defined }}
{%   endif %}
{% endfor %}
